.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
        margin-top: 0.125rem;
        margin-left: 0px;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.dropdown-menu {
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
}
.dropright .dropdown-menu {
    top: 0;
    right: auto;
    left: 100%;
    margin-top: 0;
    margin-left: .125rem;
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}
.category-sidebar .dropright .dropdown-toggle::after {
    position: absolute;
    top: 20px;
    right: 10px;
}
.dropright .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
}
.category-sidebar .btn {
    font-size: 14px;
}
.btn-group-vertical > .btn, .btn-group > .btn {
    position: relative;
    flex: 1 1 auto;
}
.category-sidebar .dropdown-menu {
    width: 350px;
}

