<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        @import url('https://themes.googleusercontent.com/fonts/css?kit=jcFLf8ZX0K0voV0Wtl8DVwWg0g-wft8BWv_rYzdOKxw');

        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c44 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 12.8pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c61 {
            border-right-style: solid;
            padding: 12.2pt 12.2pt 12.2pt 12.2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #efefef;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 216pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c28 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #01ae3c;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #01ae3c;
            vertical-align: middle;
            border-right-color: #01ae3c;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #01ae3c;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 12pt;
            border-top-color: #01ae3c;
            border-bottom-style: solid
        }

        .c88 {
            padding: 12.2pt 12.2pt 12.2pt 12.2pt;
            background-color: #efefef;
            width: 888.8pt;
        }

        .c82 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #01ae3c;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 12.8pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c73 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #01ae3c;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 12pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c57 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #01ae3c;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #01ae3c;
            vertical-align: middle;
            border-right-color: #01ae3c;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #01ae3c;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 216pt;
            border-top-color: #01ae3c;
            border-bottom-style: solid
        }

        .c60 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: middle;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 12pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c27 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #01ae3c;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 216pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c41 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 12.8pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c42 {
            border-right-style: solid;
            padding: 12.2pt 12.2pt 12.2pt 12.2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #efefef;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 12pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c86 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #01ae3c;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #01ae3c;
            vertical-align: middle;
            border-right-color: #01ae3c;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #01ae3c;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 12.8pt;
            border-top-color: #01ae3c;
            border-bottom-style: solid
        }

        .c25 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 216pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c7 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 12pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c36 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #efefef;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 216pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c53 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: middle;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 216pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c89 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 432pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c54 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: middle;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 12.8pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c6 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #efefef;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 432pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c67 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: middle;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 216pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c62 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: middle;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 216pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c9 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #efefef;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 12pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c63 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 12pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c78 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: middle;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 888.8pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c45 {
            padding: 5pt 5pt 5pt 5pt;
            vertical-align: top;
            background-color: #01ae3c;
            width: 240.8pt;
        }

        .c35 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #efefef;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 12.8pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c79 {
            border-right-style: solid;
            padding: 12.2pt 12.2pt 12.2pt 12.2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #efefef;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 216pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c40 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: middle;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 216pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c81 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #01ae3c;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 12.8pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c87 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #01ae3c;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #01ae3c;
            vertical-align: middle;
            border-right-color: #01ae3c;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #01ae3c;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 216pt;
            border-top-color: #01ae3c;
            border-bottom-style: solid
        }

        .c66 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #01ae3c;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #01ae3c;
            vertical-align: middle;
            border-right-color: #01ae3c;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #01ae3c;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 888.8pt;
            border-top-color: #01ae3c;
            border-bottom-style: solid
        }

        .c32 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #efefef;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 888.8pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c23 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: middle;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 888.8pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c13 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #efefef;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 216pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c37 {
            padding: 5pt 5pt 5pt 5pt;
            background-color: #01ae3c;
        }

        .c18 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #01ae3c;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 216pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c90 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: middle;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 12.8pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c56 {
            padding: 5pt 5pt 5pt 5pt;
            vertical-align: top;
            background-color: #ffffff;
        }

        .c24 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #01ae3c;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 12pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c19 {
            padding: 5pt 5pt 5pt 5pt;
            vertical-align: top;
            width: 240.8pt;
        }

        .c58 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: middle;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #01ae3c;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 432pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c43 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: middle;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 12pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c30 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 216pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c34 {
            border-right-style: solid;
            padding: 12.2pt 12.2pt 12.2pt 12.2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #efefef;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 12.8pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c11 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: middle;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 432pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c31 {
            padding: 5pt 5pt 5pt 5pt;
            width: 216pt;
        }

        .c64 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 12pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c46 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 216pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c59 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 12.8pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c51 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 216pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c39 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 12.8pt;
            border-top-color: #01ae3c;
            border-bottom-style: solid
        }

        .c83 {
            padding: 5pt 5pt 5pt 5pt;
            vertical-align: middle;
            width: 216pt;
        }

        .c71 {
            padding: 5pt 5pt 5pt 5pt;
            vertical-align: middle;
            width: 672.8pt;
        }

        .c48 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 12.8pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c47 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 216pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c14 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 432pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c26 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 12.8pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c50 {
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 888.8pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }

        .c80 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 216pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c85 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 432pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c49 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 12pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c33 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 216pt;
            border-top-color: #01ae3c;
            border-bottom-style: solid
        }

        .c68 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 12pt;
            border-top-color: #01ae3c;
            border-bottom-style: solid
        }

        .c38 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 216pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c75 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 12pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c0 {
            background-color: #ffffff;
            color: #212529;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-family: "Poppins";
            font-style: normal
        }

        .c22 {
            color: #ffffff;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c55 {
            color: #434343;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-family: "Arial";
            font-style: normal
        }

        .c15 {
            color: #ffffff;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c8 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Poppins";
            font-style: normal
        }

        .c1 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c21 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c52 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-style: normal
        }

        .c72 {
            color: #ffffff;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-style: normal
        }

        .c76 {
            padding-top: 16pt;
            padding-bottom: 4pt;
            line-height: 1.0;
            page-break-after: avoid;
            text-align: left
        }

        .c4 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: right
        }

        .c10 {
            margin-left: auto;
            border-spacing: 0;
            border-collapse: collapse;
            margin-right: auto
        }

        .c69 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: center
        }

        .c17 {
            background-color: #ffffff;
            color: #212529;
            font-size: 14pt;
            font-style: normal
        }

        .c2 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c29 {
            background-color: #ffffff;
            padding: 10pt;
        }

        .c20 {
            background-color: #ffffff;
            font-size: 14pt;
            color: #212529
        }

        .c70 {
            text-decoration: none;
            vertical-align: baseline;
            font-style: italic
        }

        .c5 {
            font-weight: 700;
            font-family: "Poppins"
        }

        .c16 {
            font-weight: 400;
            font-family: "Poppins"
        }

        .c65 {
            height: 3.8pt
        }

        .c12 {
            height: 21pt
        }

        .c74 {
            height: 43.7pt
        }

        .c77 {
            height: 73.5pt
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>

</head>
<body class="c29">
    <p class="c21"><span class="c1"></span></p><a id="t.4977e2bd184cb4648d67db5de2aede59ade98819"></a><a
        id="t.0"></a>
    <table class="c10">
        <tr class="c77">
            <td class="c66" colspan="5" rowspan="1">
                <p class="c69"><span
                        style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 177.50px; height: 49.77px;"><img
                            alt="" src="images/image1.png"
                            style="width: 177.50px; height: 49.77px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                            title=""></span></p>
            </td>
        </tr>
        <tr class="c74">
            <td class="c71" colspan="4" rowspan="4">
                <p class="c2"><span class="c8">Amey Apartment</span></p>
                <p class="c2"><span class="c8">Near Sachi Honda</span></p>
                <p class="c2"><span class="c8">Nashik - 422011</span></p>
                <p class="c2"><span class="c8">Maharashtra, India</span></p>
            </td>
            <td class="c31" colspan="1" rowspan="4">
                <h3 class="c76" id="h.wu5gcmghkb85"><span class="c55">Invoice number: 0000034</span></h3>
            </td>
        </tr>
        <tr class="c12"></tr>
        <tr class="c12"></tr>
        <tr class="c65"></tr>
        <tr class="c12">
            <td class="c88" colspan="5" rowspan="1">
                <p class="c2"><span class="c5">PAYMENT</span><span class="c16">&nbsp;</span><span
                        class="c5">ID</span><span class="c8">&nbsp;: 0000034</span></p>
                <p class="c2"><span class="c5">BILL DATE </span><span class="c8">: 14-06-2022</span></p>
                <p class="c2"><span class="c5">CLIENT </span><span class="c8">: Bob</span></p>
                <p class="c2"><span class="c5">DESCRIPTION</span><span class="c8">: Booster+ Package</span></p>
            </td>
        </tr>
        <tr class="c12">
            <td class="c50" colspan="5" rowspan="1">
                <p class="c2 c3"><span class="c8"></span></p>
            </td>
        </tr>
        <tr class="c12">
            <td class="c58" colspan="1" rowspan="1">
                <p class="c2"><span class="c5 c72">NAME OF DEPOSITOR</span></p>
            </td>
            <td class="c37" colspan="3" rowspan="1">
                <p class="c4"><span class="c22">UNIT PRICE</span></p>
            </td>
            <td class="c18" colspan="1" rowspan="1">
                <p class="c4"><span class="c22">AMOUNT</span></p>
            </td>
        </tr>
        <tr class="c12">
            <td class="c11" colspan="1" rowspan="1">
                <p class="c2"><span class="c8">Payment ID: 00000034</span></p>
            </td>
            <td class="c19" colspan="3" rowspan="1">
                <p class="c4"><span class="c1">100</span></p>
            </td>
            <td class="c30" colspan="1" rowspan="1">
                <p class="c4"><span class="c1">100</span></p>
            </td>
        </tr>
        <tr class="c12">
            <td class="c11" colspan="1" rowspan="1">
                <p class="c2 c3"><span class="c8"></span></p>
            </td>
            <td class="c45" colspan="3" rowspan="1">
                <p class="c4"><span class="c15">TOTAL, RS</span></p>
            </td>
            <td class="c27" colspan="1" rowspan="1">
                <p class="c4"><span class="c15">100</span></p>
            </td>
        </tr>
        <tr class="c12">
            <td class="c89" colspan="1" rowspan="1">
                <p class="c2 c3"><span class="c8"></span></p>
            </td>
            <td class="c56" colspan="3" rowspan="1">
                <p class="c4 c3"><span class="c1"></span></p>
            </td>
            <td class="c25" colspan="1" rowspan="1">
                <p class="c4 c3"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c12">
            <td class="c32" colspan="5" rowspan="5">
                <p class="c2"><span class="c16">ACCOUNT</span><span class="c5">&nbsp;</span><span
                        class="c8">DETAILS</span></p>
                <p class="c2"><span class="c5">BANK </span><span class="c8">: CENTRAL BANK OF INDIA</span></p>
                <p class="c2"><span class="c5">ACC NAME </span><span class="c8">: Lombaa</span></p>
                <p class="c2"><span class="c5">ACCT</span><span class="c16">&nbsp;</span><span class="c5">NO
                    </span><span class="c8">: 298909781276</span></p>
                <p class="c2"><span class="c5">ACCT</span><span class="c16">&nbsp;</span><span
                        class="c5">SORT</span><span class="c16">&nbsp;</span><span class="c5">CODE </span><span
                        class="c8">: 890912765632</span></p>
            </td>
        </tr>
        <tr class="c12"></tr>
        <tr class="c12"></tr>
        <tr class="c12"></tr>
        <tr class="c12"></tr>
        <tr class="c12">
            <td class="c23" colspan="5" rowspan="1">
                <p class="c2 c3"><span class="c0"></span></p>
                <h6 class="c2"><span class="c0">* Always include your PAYMENT ID at NAME OF DEPOSITOR</span></h6>
                <h6 id="h.mtedpa85k5su"><span class="c5 c17">a) For Cash/teller payment always include your
                        PAYMENT ID as Depositor&#39;s name.</span></h6>
                <h6 class="c2"><span class="c5 c20">b) For Transfer always include your PAYMENT ID in the
                        narration.</span></h6>
            </td>
        </tr>
        <tr class="c12">
            <td class="c78" colspan="5" rowspan="1">
                <h6 class="c2"><span class="c20 c5">c) Your invoice will be due after the next 10 days of billing
                        date.</span></h6>
            </td>
        </tr>
    </table>
    <p class="c21 c3"><span class="c1"></span></p>
</body>
</html>
