
.product-post{text-decoration: none !important;}
.product-post svg{width:50px; height:55px;}
.saved-wrap{position:absolute; top:0; left:0; width:100%;}
.saved{background: #fff; border-radius: 100px; text-align: center; width:32px; height:32px; display: flex; align-items: center; justify-content: center; text-decoration: none !important; box-shadow: 0 0 5px rgba(0,0,0,30%); transition: all ease-in-out 100ms; border:0;} 
.saved:hover{transform: scale(1.1);}

.product-card{transition: all ease-in-out 300ms; border: none;}
.product-card *{text-decoration: none !important;}
.product-card:hover, .product-post:hover{box-shadow: 0 0 15px rgba(0,0,0,30%);}
.product-card .card-title{font-size:18px;}
.product-card .card-body{font-size:14px; color:#444;}
.product-card .card button svg{width:14px;}
.card-img-top { width: 100%; height: calc(100vw * 0.2); object-fit: contain; }

.product-card-header { background-color: #fff; padding: 0; border-bottom: 0px; margin-bottom: 0.5rem; }

.product-post{transition: all ease-in-out 300ms; height:100%; flex-direction: column; text-decoration: none !important;}
.product-post i{font-size:45px;}

.usermeta{color:#555; font-size:12px;}
small.text-white{font-size:12px; text-shadow: 0 0 3px rgba(0,0,0,.5);}

@media all and (max-width:767px) {
    .produt-card .card-title{font-size:12px;}
    .product-card .card-body{font-size:11px; padding-bottom: 5px;}
    .usermeta img{width:24px; height:24px;}
    .saved{width:24px; height:24px;}
    small.text-white{font-size:11px;}    
    .product-card .card-body p{margin-bottom: 5px;}
    .card-img-top { height: auto; }
}