html body .navbar.sticky-top{box-shadow: 0 2px 10px rgba(0,0,0,10%) !important;}
{fill:green;}
.navbar-brand svg .white{fill:#fff;}
.navbar-brand svg .green{fill:#219653;}
.navbar-brand svg .gray{fill:#333;}

.icon-list li > a{box-shadow:0 0 5px rgba(0,0,0,30%);}
.icon-list li.icon-item a{width:25px;height:25px; display:block; text-align:center;background:none; border-radius: 100px; display: inline-block; font-size: 16px; padding: 0; line-height: 25px; padding: 0 !important;}
.icon-list li.icon-item svg{fill:#fff;}

#dropdown-basic {box-shadow: 0 0 5px rgb(0 0 0 / 15%); border-radius: 100px;}
#dropdown-basic::after{display: none; padding:0; }

.navbar-nav .dropdown-item{font-size:14px;}

.header-cat{font-size:14px; font-weight: 600;}
.header-cat button{font-size:14px;}

.navbar .form-noborder{margin:0 auto 0 75px;}
.mobile-fnav{font-size:12px; box-shadow: 0 -4px 10px rgba(0,0,0,15%);}
.mobile-fnav svg{font-size:18px; margin-bottom: 5px;}

body{padding-bottom: 80px;}

.profile-dropdown-link{text-decoration: none; color: #000;}
